<html>
    <head>
        <meta charset="utf-8">
        <link rel="stylesheet" href="card_page.css">
    </head>
    <body>
        <page_boundary>
<card_boundary>
    <card_header>
        <b>Fireball</b>
    </card_header>
    <card_body>
        <spell_header><b>Level</b> Wizard 3; Sorcerer 3;</spell_header>
        <spell_header><b>School</b> evocation [fire];</spell_header>
        <spell_header><b>Casting Time</b> 1 standard action</spell_header>
        <spell_header><b>Components</b> V, S, M (a ball of bat guano and sulfur)</spell_header>
        <spell_header><b>Range</b> Long (400ft + 10ft/level)</spell_header>
        <spell_header><b>Area</b> 20-ft. -radius spread</spell_header>
        <spell_header><b>Duration</b> Instantaneous</spell_header>
        <spell_header><b>Saving Throw</b> Reflex half;</spell_header>
        <spell_header><b>Spell Resistance</b> yes</spell_header>
        <spell_description>
            <p>A fireball spell generates a searing explosion of flame that detonates with a low roar and deals 1d6 points of fire damage per caster level (maximum 10d6) to every creature within the area. Unattended objects also take this damage. The explosion creates almost no pressure.</p>

            <p>You point your finger and determine the range (distance and height) at which the fireball is to burst. A glowing, pea-sized bead streaks from the pointing digit and, unless it impacts upon a material body or solid barrier prior to attaining the prescribed range, blossoms into the fireball at that point. An early impact results in an early detonation. If you attempt to send the bead through a narrow passage, such as through an arrow slit, you must "hit" the opening with a ranged touch attack, or else the bead strikes the barrier and detonates prematurely.</p>

            <p>The fireball sets fire to combustibles and damages objects in the area. It can melt metals with low melting points, such as lead, gold, copper, silver, and bronze. If the damage caused to an interposing barrier shatters or breaks through it, the fireball may continue beyond the barrier if the area permits; otherwise it stops at the barrier just as any other spell effect does.</p>
        </spell_description>
    </card_body>
</card_boundary>
